/* Styles for skistats demo
 *
 * Author: Tony Georgiev
 */

body {
  font-family: 'Maven Pro', sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bodyContent {
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
}

.twitter-button-holder {
  padding-left: 5px;
}

footer {
  position: fixed;
  bottom: 0;
}

.filesSelector {
  border: 2px dashed;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  background-color: rgb(237, 237, 237);
}

.filesSelector p {
  text-align: center;
}

.filesSelectorButton {
  position: relative;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.filesSelectorButton button {
  padding: 10px;
  width: 100%;
  font-family: 'Maven Pro', sans-serif;
}
.filesSelectorButton input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.loadDemoStats {
  text-align: center;
}

.timeline {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 250px;
}

.timelineControls > input{
  vertical-align: middle;
  width: auto;
  display: initial;
}

.timelineContainer {
  position: relative;
  height: 100px;
  background-color:rgba(255,255,255,0.6);
  border: 1px solid;
  border-radius: 5px;
  margin-top: 5px;
}

.x.axis path,.x.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 170px;
  right: 250px;
}

.legends {
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  bottom: 200px;
}

.lineLabel {
  width: 150px;
  bottom: -38px;
  left: -80px;
}

.resortNameHint {
  font-size: 20px;
}

.resortName {
  font-size: 30px;
}